<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h2>Create New Activity Type</h2>
    <div class="section">
        <label for="name">Name: </label>
        <input [class.invalid]="formGroup.controls['name'].errors && (formGroup.controls['name'].touched || formGroup.controls['name'].dirty)" type="text" id="name" formControlName="name">
        <div>
            <label class="error-label"
                *ngIf="formGroup.controls['name'].errors?.pattern && (formGroup.controls['name'].touched || formGroup.controls['name'].dirty)">
                Field contains forbidden symbols. Allowed: latin letters and digits
            </label>
            <label class="error-label"
                *ngIf="formGroup.controls['name'].errors?.required && (formGroup.controls['name'].touched || formGroup.controls['name'].dirty)">
                Field must be filled
            </label>
        </div>
    </div>
    <div class="section">
        <button type="button" (click)="addNewDetail()">Add new detail</button>
    </div>
    <div class="section" *ngFor="let detail of getDetails().controls; let i = index" formArrayName="detailNames">
        <input [class.invalid]="detail.errors && (detail.dirty || detail.touched)" type="text" id="detail{{i}}" [formControlName]="i">
        <button (click)="removeDetail(i)">remove</button>
        <label
            *ngIf="getDetails().controls[i].errors?.pattern && (getDetails().controls[i].dirty || getDetails().controls[i].touched)"
            class="error-label">
            Field contains forbidden symbols. Allowed: latin letters and digits
        </label>
        <label
            *ngIf="getDetails().controls[i].errors?.required && (getDetails().controls[i].dirty || getDetails().controls[i].touched)"
            class="error-label">
            Field must be filled
        </label>
    </div>
    <label><b *ngIf="errorText" class="error-label">{{errorText}}</b></label>
    <div class="button-section">
        <button type="submit" [disabled]="formGroup.status === 'INVALID'">Submit</button>
        <button type="button" (click)="Cancel()">Cancel</button>
    </div>
</form>