<!-- <mat-card class="card">
    <mat-card-title *ngIf="formType === authType.Login">Log into your account</mat-card-title>
    <mat-card-title *ngIf="formType === authType.Registration">Create new account</mat-card-title>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Login" name="login" formControlName="login">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" formControlName="password">
        </mat-form-field>
        <div *ngIf="formType === authType.Registration">
            <mat-form-field>
                <input matInput type="date" placeholder="Birth Date" name="birthDate" formControlName="birthDate">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Weight" name="height" formControlName="weight">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Height" name="height" formControlName="height">
            </mat-form-field>
        </div>
        <div class="btn-section">
            <button [disabled]="formGroup.status === 'INVALID'" type="submit" mat-button>Submit</button>
            <button *ngIf="formType === authType.Login" routerLink="/signup" mat-button>Sign Up?</button>
            <button *ngIf="formType === authType.Registration" routerLink="/login" mat-button>Log in?</button>
        </div>
    </form>
</mat-card> -->

<div class="card centered">
    <h2 *ngIf="formType === authType.Login">Log into your account</h2>
    <h2 *ngIf="formType === authType.Registration">Create new account</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <input placeholder="Login" name="login" formControlName="login">
        <input type="password" placeholder="Password" name="password" formControlName="password">
        <div *ngIf="formType === authType.Registration">
            <input type="date" placeholder="Birth Date" name="birthDate" formControlName="birthDate">
            <input type="number" placeholder="Weight" name="height" formControlName="weight">
            <input type="number" placeholder="Height" name="height" formControlName="height">
        </div>
        <div class="button-section">
            <button [disabled]="formGroup.status === 'INVALID'" type="submit">Submit</button>
            <button *ngIf="formType === authType.Login" routerLink="/signup">Sign Up?</button>
            <button *ngIf="formType === authType.Registration" routerLink="/login">Log in?</button>
        </div>
    </form>
</div>