<div class="card" *ngIf="activityTypes?.length">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Create New Activity</h2>
        <div class="field">
            <label>Activity Type</label>
            <select (change)="onTypeChange($event.target)" formControlName="activityTypeId">
                <option *ngFor="let type of activityTypes" [value]="type.id">
                    {{ type.name }}
                </option>
            </select>
        </div>
        <div class="field" *ngIf="formGroup.controls['activityTypeId'].value">
            <label class="detail" for="dateTime">Date: </label>
            <input type="datetime-local" id="dateTime" formControlName="dateTime">
        </div>
        <div class="field" *ngFor="let detailForm of getDetailForms(); let i = index" formArrayName="details">
            <div id="detail{{i}}" [formGroupName]="i">
                <label class="detail" for="value{{i}}">{{ detailForm.controls['name'].value }}: </label>
                <input type="text" id="value{{i}}" formControlName="value">
            </div>
        </div>
        <button type="submit" [disabled]="formGroup.status === 'INVALID'">Submit</button>
        <label *ngIf="errorText">{{ errorText }}</label>
    </form>
</div>
<h2 class="warning" *ngIf="!activityTypes?.length">No activity types exist. Create one at the <a routerLink="/activity-types">Activity Types</a> page</h2>