<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <h2>{{ activityType.name }} at {{ activity.dateTime | date: "EE, d MMM, YYYY 'at' h:mm aaaa" }}</h2>
        
        <button *ngIf="!isEditMode && activity.details?.length" (click)="toggleDetails()" type="button">{{ isDetailed ? "Hide" : "View" }}</button>
        <button *ngIf="activityType.detailNames?.length ?? false" (click)="toggleEditMode()" type="button">{{ isEditMode ? "Cancel" : "Edit" }}</button>
        <button *ngIf="!isEditMode" (click)="remove()" type="button">Remove</button>
        <button *ngIf="isEditMode" type="submit">Submit</button>
        
        <ng-container *ngIf="isDetailed && !isEditMode">
            <div *ngFor="let activityDetail of activity.details">
                <span *ngIf="activityDetail.value"><b>{{ activityDetail.name }}:</b> {{ activityDetail.value }}</span>
            </div>
        </ng-container>

        <ng-container *ngIf="isEditMode">
            <div *ngFor="let detail of getDetailFormGroups(); let i = index" formArrayName="details">
                <div [formGroup]="detail">
                    <label for="value{{i}}">{{ detail.controls['name'].value }}</label>
                    <input id="value{{i}}" name="value{{i}}" type="text" formControlName="value">
                </div>
            </div>
        </ng-container>
    </div>
</form>
