<div class="card centered" *ngIf='user'>
    <h2>Profile</h2>
    <button id="edit" *ngIf="!isProfileEditMode && !isPasswordEditMode" (click)="enableProfileEditMode()">Edit</button>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <label for="login">Login: </label>
            <label *ngIf="!isProfileEditMode" id="login">{{user.login}}</label>
            <input [class.invalid]="formGroup.controls['login'].errors" *ngIf="isProfileEditMode" id="login" formControlName="login" type="text">
            <label class="error-label" *ngIf="formGroup.controls['login'].errors?.required && isProfileEditMode">Field must be filled</label>
            <label class="error-label" *ngIf="formGroup.controls['login'].errors?.pattern && isProfileEditMode">Field must only contain latin symbols and numbers</label>
        </div>
        <div *ngIf="user.birthDate || isProfileEditMode">
            <label for="birthDate">BirthDate: </label>
            <label *ngIf="!isProfileEditMode" id="birthDate">{{user.birthDate | date: 'mediumDate' }}</label>
            <input [class.invalid]="formGroup.controls['birthDate'].errors" *ngIf="isProfileEditMode" id="birthDate" formControlName="birthDate" type="date">
        </div>
        <div *ngIf="user.weight || isProfileEditMode">
            <label for="weight">Weight: </label>
            <label *ngIf="!isProfileEditMode" id="weight">{{user.weight}} kg</label>
            <input [class.invalid]="formGroup.controls['weight'].errors" *ngIf="isProfileEditMode" id="weight" formControlName="weight" type="number">
            <label class="error-label" *ngIf="formGroup.controls['weight'].errors">Weight must be a positive number</label>
        </div>
        <div *ngIf="user.height || isProfileEditMode">
            <label for="height">Height: </label>
            <label *ngIf="!isProfileEditMode" id="height">{{user.height}} cm</label>
            <input [class.invalid]="formGroup.controls['height'].errors" *ngIf="isProfileEditMode" id="height" formControlName="height" type="number">
            <label class="error-label" *ngIf="formGroup.controls['height'].errors">Height must be a positive number</label>
        </div>
        <div *ngIf="!isProfileEditMode">
            <label for="registrationDate">Registered: </label>
            <label id="registrationDate">{{ user.registrationDateTime | date: "short" }}</label>
        </div>
        <div *ngIf="isPasswordEditMode">
            <label for="password">Password: </label>
            <input [class.invalid]="formGroup.controls['login'].errors" id="password" formControlName="password" type="password">
            <label class="error-label" *ngIf="formGroup.controls['password'].errors?.pattern && (formGroup.controls['password'].touched || formGroup.controls['password'].dirty)">Field must only contain latin symbols and numbers</label>
            <label class="error-label" *ngIf="formGroup.controls['password'].errors?.required && (formGroup.controls['password'].touched || formGroup.controls['password'].dirty)">Field must be filled</label>
        </div>
        <div *ngIf="isProfileEditMode || isPasswordEditMode" class="button-section">
            <button type="submit" [disabled]="formGroup.invalid">Save</button>
            <button (click)="resetModes()">Cancel</button>
        </div>
        <button *ngIf="!isPasswordEditMode && !isProfileEditMode" (click)="enablePasswordEditMode()">Change Password</button>
    </form>
</div>
<div class="card" *ngIf='!user'>Loading profile data</div>