header {
    padding: 1%;
    background-color: white;
}

#logo {
    font-size: x-large;
    display: inline-block;
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    width: auto;
    font-size: large;
}

li {
    margin-left: 20px;
    display: inline-block;
}

li>a {
    display: block;
    color: inherit;
    text-decoration: none;
}

li>a:hover {
    color: cadetblue;
}
