<!-- <mat-toolbar>
  <label>Activity Records</label>
  <div *ngIf="accountService.userId !== -1" class="options-container">
    <button mat-button [ngClass]="{ 'selected': navigationEnd === '/activities' }" routerLink="/activities">Activities</button>
    <button mat-button [ngClass]="{ 'selected': navigationEnd === '/activity-types' }" routerLink="/activity-types">Activity Types</button>
    <button mat-button [ngClass]="{ 'selected': navigationEnd === '/profile' }" routerLink="/profile">Profile</button>
    <button mat-button (click)="onLogout()">Log out</button>
</div>
</mat-toolbar> -->

<!-- New version -->
<header>
  <div id="logo">{{ title }}</div>
  <ul *ngIf="accountService.userId !== -1">
    <li><a routerLink="/activities">Activities</a></li>
    <li><a routerLink="/activity-types">Activity Types</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a href="#" (click)="onLogout()">Log out</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
