* {
    margin: 0;
    padding: 0;
}

div.card {
    min-width: 350px;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    font-size: large;
    box-shadow: 0px 1px 2px rgb(94, 94, 94);
}

div.card.centered {
    width: fit-content;
    margin: 1% auto;
}

button {
    padding: 5px 10px;
    border: 0;
    background-color: cadetblue;
    border-radius: 4px;
    color: white;
    font-weight: 200;
    font-size: inherit;
    display: inline-block;
    box-shadow: 0px 1px 2px rgb(94, 94, 94);
}

button:hover {
    cursor: pointer;
    background-color: rgb(74, 150, 153);
}

button:disabled {
    background-color: rgb(80, 98, 99);
    cursor: default;
}

input {
    font-size: inherit;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    /* display: block; */
}

input.invalid {
    background-color: rgb(255, 180, 180);
}

label.error-label {
    display: block;
    color: rgb(209, 62, 62);
    /* margin: 5px 0; */
}

select {
    font-size: inherit;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
}

option {
    background-color: aliceblue;
}

option::selection {
    background-color: red;
}
